<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale" style="position: fixed">
	<md-fab-trigger>
		<md-button class="md-fab" ui-sref="create">
			<md-tooltip md-direction="left">역할 및 권한 생성</md-tooltip>
			<md-icon>add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>

<div class="content-container" ng-controller="configuration.roles.list" ng-cloak="">

	<h3 layout-padding="" class="md-headline">
		역할 및 권한
		<span class="md-subhead text-muted">역할 및 권한 목록</span>
	</h3>
	
	
	<!-- 상세 검색 시작 -->
	<md-card md-whiteframe="3">
		<cm-search-list
			resource-url="'/rest/configuration/roles'"
			domains="domains"
			sort-items="{
				name: '이름',
				authority: '권한명'
			}"
			search-info="searchInfo"
			>
			<!-- 상세검색 필드 -->
			<cm-search-list-filters>
				<md-card-content class="content" layout="column">
					<md-input-container layout-fill="">
						<label>이름</label>
						<input ng-model="searchInfo.name"/>
					</md-input-container>
					<md-input-container layout-fill="">
						<label>Authority</label>
						<input ng-model="searchInfo.authority" />
					</md-input-container>
				</md-card-content>
			</cm-search-list-filters>
			<!-- 상세검색 필드 끝-->
			<!-- 리스트  -->
			<cm-search-list-items>
				<md-list-item ng-repeat="domain in domains.content" ng-click="goView(domain)">
				    <p class="text-muted">{{ domain.name }} </p>
				    <p class="text-muted">{{ domain.authority }} </p>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</cm-search-list-items>
			<!-- 리스트  끝-->
		</cm-search-list>
	</md-card>

</div>

