
<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale" style="position: fixed">
	<md-fab-trigger>
		<md-button class="md-fab" ui-sref="create">
			<md-tooltip md-direction="left">권한 생성</md-tooltip>
			<md-icon>add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>


<div class="content-container" ng-controller="configuration.roles.list" ng-cloak="">
	<h3 layout-padding="" class="md-headline">역할 및 권한</h3>
	
	<!-- 상세 검색 시작 -->
	<md-card md-whiteframe="4">
		<md-card-header layout="row" layout-align="center center">
			<md-icon>search</md-icon>
			<md-input-container md-no-float="true" flex="" layout-fill="">
				<input ng-model="searchInfo.keyword" flex="" placeholder="검색어를 입력하세요" ng-keypress="onSearch($event)" />
			</md-input-container>
				<md-button class="md-icon-button" ng-click="showDetailSearch = !showDetailSearch">
					<md-tooltip md-direction="top">상세 검색</md-tooltip>
					<md-icon>expand_more</md-icon>
				</md-button>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-tooltip md-direction="top">정렬</md-tooltip>
					<md-icon>sort</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button layout="row">
							이름
							<md-icon>check</md-icon>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							이메일
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							userId
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-card-header>
		<!-- 상세 검색 끝 -->	
	 <!-- 권한 리스트 -->
	  <md-content>
	    <md-list>
	    	  <md-subheader class="md-no-sticky">역할 및 권한 리스트</md-subheader>
			  <md-list-item ng-repeat="permission in domains.content" ng-click="goView(permission.permissionId)">
			    <p>{{ permission.name }} </p>
			    <p>{{ permission.authority }} </p>
			  </md-list-item>
	    </md-list>
	 </md-content>
	 <!-- 권한 리스트 끝 -->
	 
	<uib-pagination
		layout-margin=""
		template-url="/configuration/partials/directive/pagination"
		total-items="domains.totalElements"
		items-per-page="domains.size"
		boundary-links="true"
		ng-model="searchInfo.page"
	ng-change="onPageChange()" /> 
	
	
	</md-card>
</div>

