
<div class="content-container" ng-controller="configuration.roles.modify">

	<h3 layout-padding="" class="md-headline">
		역할 및 권한
		<span class="md-subhead text-muted">수정</span>
	</h3>

	<md-card md-whiteframe="4" layout-padding="" >
		<md-subheader class="md-no-sticky">기본정보수정 </md-subheader>
		<div ng-cloak=""> 
			<md-content>
				<form name="frm" novalidate="novalidate">
					<md-input-container class="md-block">
						<label>permissionId</label>
						<input required="required" name="permissionId" ng-model="role.permissionId" disabled="true" style="font-weight: bold;" />
					</md-input-container>

					<md-input-container class="md-block">
						<label>이름</label>
						<input required="required" name="name" ng-model="role.name" md-maxlength="100" />
						<div ng-messages="frm.name.$error ">
							<div ng-message="required">이름을 입력하세요.</div>
							<div ng-message="md-maxlength">100자 이상 입력하실 수 없습니다.</div>
						</div>
					</md-input-container>
					
					<md-input-container class="md-block">
						<label>Authority</label>
						<input required="required" ng-model="role.authority" name="authority" md-maxlength="30" />
						<div ng-messages="frm.authority.$error ">
							<div ng-message="required">권한명을 입력하세요.</div>
							<div ng-message="md-maxlength">30자 이상 입력하실 수 없습니다.</div>
						</div>
					</md-input-container>
					
					<md-input-container class="md-block">
						<label>description</label>
						<textarea ng-model="role.description" md-maxlength="2000" rows="5" md-select-on-focus="" ></textarea>
						<div ng-messages="frm.description.$error ">
							<div ng-message="md-maxlength">2000자 이상 입력하실 수 없습니다.</div>
						</div>
					</md-input-container>

				</form>
			</md-content>
		</div>
		<md-card-actions layout="row">
			<md-button ng-click="goList()">취소</md-button>
			<md-button class="md-raised md-primary" type="sumbit" ng-click="modify()" ng-disabled="!frm.$valid">수정</md-button>
		</md-card-actions>
	</md-card>


</div>
