
<div class="content-container" ng-controller="configuration.roles.view">

	<h3 layout-padding="" class="md-headline">역할 및 권한</h3>

	<md-card md-whiteframe="4">
		<md-subheader class="md-no-sticky">기본정보</md-subheader>
		<div ng-cloak="">
		  	<md-content>
			    <md-list>
			    	<md-list-item >
			       		<p><strong>PermissionId</strong></p>
			          	<p>{{ domains.permissionId }}</p>
				     </md-list-item>
				     <md-list-item >
			       		<p><strong>Authority</strong></p>
			          	<p>{{ domains.authority }}</p>
				     </md-list-item>
				     <md-list-item>
			       		<p><strong>이름</strong></p>
			          	<p>{{ domains.name }}</p>
			    	</md-list-item>
			    </md-list>
			</md-content>
		</div>
	</md-card>
	
	<md-card md-whiteframe="4">
		<h3 layout-padding="" class="md-headline">사이트별 역할 권한</h3>
    	<md-content>
		    <md-tabs md-dynamic-height="" md-border-bottom="">
		      <md-tab label="{{site.name}}" ng-repeat="site in sites">
		        <md-content class="md-padding" layout="row">
		        	<div layout="column" class="col-md-4">
		        		<!-- 1개일땐 배열로 안옴 -->
						<md-button ng-show="{{site.defaultMenuGroup.length == null}}" ng-click="selectMenuGroup(site.siteId, site.defaultMenuGroup.menuGroupId)">
							{{site.defaultMenuGroup.name}}
						</md-button>
						<!-- 1개 이상일 때 배열로 옴 -_-;; Set.. -->
						<md-button ng-repeat="defaultMenuGroup in site.defaultMenuGroup" ng-show="{{site.defaultMenuGroup.length != null}}" ng-click="selectMenuGroup(defaultMenuGroup.menuGroupId)">
							{{defaultMenuGroup.name}}
						</md-button>
		        	</div>
					<div class="col-md-8">
					    <md-tabs md-dynamic-height="" md-border-bottom="">
					      <md-tab label="{{separatedMenus.position}}" ng-repeat="separatedMenus in allMenus">
					      	<md-content class="md-padding" layout="row">
					      		<table class="table">
					      			<tr>
					      				<th>
					      					이름
					      				</th>
					      				<th>
					      					읽기
					      				</th>
					      				<th>
					      					생성
					      				</th>
					      			</tr>
					      			<tr ng-repeat="menu in separatedMenus.menus">
					      				<td>
					      					{{menu.name}}
					      				</td>
					      				<td>
					      					<input type="checkbox" data-ng-model="permissionMenus[menu.menuId].permitRoot"  />
					      				</td>
					      				<td>
					      					<input type="checkbox" data-ng-model="permissionMenus[menu.menuId].permitElse"  />
					      				</td>
					      			</tr>
					      		</table>
					      	</md-content>
					      </md-tab>
					    </md-tabs>
					</div>
		        </md-content>
		      </md-tab>
		    </md-tabs>
  		</md-content>
	</md-card>
	
</div>
