
<div class="content-container" ng-controller="configuration.roles.view">

	<h3 layout-padding="" class="md-headline">역할 및 권한</h3>

	<md-card md-whiteframe="4">
		<md-subheader class="md-no-sticky">기본정보</md-subheader>
		<div ng-cloak="">
		  	<md-content>
			    <md-list>
			    	<md-list-item >
			       		<p><strong>PermissionId</strong></p>
			          	<p>{{ domains.permissionId }}</p>
				     </md-list-item>
				     <md-list-item >
			       		<p><strong>Authority</strong></p>
			          	<p>{{ domains.authority }}</p>
				     </md-list-item>
				     <md-list-item>
			       		<p><strong>이름</strong></p>
			          	<p>{{ domains.name }}</p>
			    	</md-list-item>
			    </md-list>
			</md-content>
		</div>
	</md-card>
	
	<md-card md-whiteframe="4">
		<h3 layout-padding="" class="md-headline">사이트별 역할 권한</h3>
    	<md-content>
    	  <!-- 사이트 시작 -->
		    <md-list>
	    	  <md-subheader class="md-no-sticky">사이트</md-subheader>
				  <md-list-item ng-repeat="site in sites" ng-init="selector = $index" >
				  	<div layout="column" style="width:100%;">
				  		
				  		<p ng-click="selectSite(site.siteId)">
				  			<md-icon>list</md-icon> {{site.name}} <md-icon style="color: #0F0;" ng-show="selector == true">done</md-icon>
				  		</p>
				        <!-- 메뉴 그룹 시작 -->
						<md-list style="width:100%;" ng-if="menuGroups.length &gt; 0" ng-show="selector == $index">
							<md-subheader class="md-primary">메뉴그룹</md-subheader>
						  	    <md-list-item ng-repeat="menuGroup in menuGroups" ng-click="selectMenuGroup(site.siteId, menuGroup.menuGroupId);">
						  	    	<div layout="column" style="width:100%;">
						  	    		<p>
						  	    			<md-icon>settings</md-icon> {{menuGroup.name}}
						  	    		</p>
						  	    	</div>
								</md-list-item>
						</md-list>
						<mg-list ng-show="selector == $index">
						  <md-list-item>
							<!-- 메뉴 권한 시작 -->
							<md-tabs md-dynamic-height="" md-border-bottom="" style="width:100%;" ng-if="allMenus.length &gt; 0">
							   <md-tab label="{{menus.position}}" ng-repeat="menus in allMenus">
							      	<md-content class="md-padding" layout="row" ng-repeat="menu in menus.menus">
										<p>{{menu.name}}</p>
										<md-checkbox class="md-secondary" ng-model="permissionMenus[menu.menuId].permitRoot"></md-checkbox>
							      	</md-content>
								</md-tab>
							</md-tabs>
							<!-- 메뉴 권한 끝 -->
						  </md-list-item>
						</mg-list>
						<!-- 메뉴 그룹 끝 -->
				  	</div>
				  </md-list-item>

		    </md-list>
    	  <!-- 사이트 끝-->
  		</md-content>
  		
  <uib-accordion close-others="oneAtATime">
    
    <uib-accordion-group heading="{{group}}" ng-repeat="group in [1,2,3]">
      {{group}}
    </uib-accordion-group>
 
  </uib-accordion>
	</md-card>


</div>



<style>
<!--

.btn1 {
  background-color: #008CBA;
  font-size: 18px;
  color : white;
}

.btn2 {
  background-color: rgba(70, 80, 90, 0.35);
  font-size: 16px;
}
-->
</style>
