<md-content class="content-container content">
	<h3 layout-padding="" class="md-headline">
		사이트 및 메뉴
		<span class="md-subhead text-muted">메뉴 수정</span>
	</h3>
	
	<form name="frm" novalidte="novalidte">
		<md-card>
			<md-content layout-padding="">
				<md-input-container class="md-block">
					<label>
						이름
					</label>
					<input required="required" name="name" ng-model="menu.name" />
					<div ng-messages="frm.name.$error ">
						<div ng-message="required">이름을 입력하세요.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						iconClass
					</label>
					<input name="iconClass" ng-model="menu.iconClass" />
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						URI
					</label>
					<input name="uri" ng-model="menu.uri" />
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						Toolip
					</label>
					<input name="toolip" ng-model="menu.toolip" />
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						Type
					</label>
					<md-select ng-model="menu.type" name="menuType" required="required">
						<md-option ng-value="menuType.groupId" ng-repeat="menuType in menuTypes">
							{{menuType.name}}
						</md-option>
					</md-select>
					<div ng-messages="frm.menuType.$error">
						<div ng-message="required">메뉴 타입을 선택하세요.</div>
					</div>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>
						position
					</label>
					<md-select name="position" ng-model="menu.position" required="required">
						<md-option ng-repeat="position in menuPositions" value="{{position.code}}">
							{{position.code}}
						</md-option>
					</md-select>
					<div ng-messages="frm.position.$error ">
						<div ng-message="required">위치를 선택하세요.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						Orders
					</label>
					<input name="orders" ng-model="menu.orders" ng-pattern="/^[0-9]+$/" required="required"/>
					<div ng-messages="frm.orders.$error ">
						<div ng-message="required">Orders를 입력하세요.</div>
						<div ng-message="pattern">숫자만 가능합니다.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<label>
						설명
					</label>
					<textarea name="description" ng-model="menu.description" rows="5"></textarea>
				</md-input-container>
			<md-card-actions layout="row" layout-align="end">
				<md-button class="md-raised md-primary" type="sumbit" ng-click="update(form, $event)" ng-disabled="isProcess">수정</md-button>
				<md-button ng-click="goBack()">취소</md-button>
			</md-card-actions>
		</md-card>
	</form>
</md-content>