<!-- <aside class="main-sidebar"> -->
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
	
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/webjars/adminlte/2.3.2/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>{{me.name}}</p>
				<!-- Status -->
				<a href=""><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
	
		<!-- search form (Optional) -->
		<!-- <form action="" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" ng-model="searchKeyword" class="form-control" placeholder="Search..." />
				<span class="input-group-btn">
					<button type="button" name="search" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form> -->
		<!-- /.search form -->
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li ng-repeat="menu in menus.sidebar | filter: searchKeyword" ng-class="menuLiClass(menu)" ng-click="toggleShowChild(menu)">
				<a href="" ng-href="{{menu.uri}}" target="_self">
					<i ng-class="menu.iconClass"></i> <span>{{menu.name}}</span>
					<i ng-if="menu.childs != 0" class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu animated fadeIn" ng-if="menu.childs != 0">
					<li ng-repeat="child in menu.childs | filter: searchKeyword">
						<a href="">
							<i ng-class="child.iconClass"></i> {{child.name}}
						</a>
					</li>
				</ul>
			</li>
			
			<!-- <li class="header">HEADER</li>
			Optionally, you can add icons to the links
			<li class="active"><a href=""><i class="fa fa-link"></i> <span>Link</span></a></li>
			<li><a href=""><i class="fa fa-link"></i> <span>Another Link</span></a></li>
			<li class="treeview">
				<a href="">
					<i class="fa fa-link"></i> <span>Multilevel</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="">Link in level 2</a></li>
					<li><a href="">Link in level 2</a></li>
				</ul>
			</li> -->
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
<!-- </aside> -->