<div class="content-container" ng-controller="configuration.group.view" ng-cloak="">

	<h3 layout-padding="" class="md-headline">
		코드
		<span class="md-subhead text-muted">정보</span>
	</h3>
	
	<md-card layout-padding="">
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">기본정보</span>
			</md-card-header-text>
			<md-button class="md-icon-button" ui-sref="modify({groupId: domains.groupId})">
				<md-tooltip>기본 정보 수정</md-tooltip>
				<md-icon>edit</md-icon>
			</md-button>
		</md-card-header>
		
		<div ng-cloak="">
			<md-content>
				<md-list flax="">
					<md-list-item>
				 		<p style="padding-left:15px;"><strong>부모코드</strong></p>
						<p>
							<a href="/configuration/groups/{{domains.parent.groupId}}">{{ domains.parent.name }}</a>
							<md-button class="md-primary md-raised" ng-click="popupParentList()">
								부모코드 등록
							</md-button>
						</p>
					</md-list-item>
					<md-list-item >
						<p><strong>groupId</strong></p>
						<p>{{ domains.groupId }}</p>
					</md-list-item>
					<md-list-item >
						<p><strong>이름</strong></p>
						<p>
							{{ domains.name }} 
						</p>
					</md-list-item>
					<md-list-item>
						<p><strong>설명</strong></p>
						<p>{{ domains.description }}</p>
					</md-list-item>
					<md-list-item>
						<p class="text-muted" >
							<strong>사용상태</strong>
						</p>
						<p class="text-muted">
							{{domains.useStatus}}
						</p>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
	</md-card>

	<md-card layout-padding="">
		<md-card-header>
			<md-card-header-text>
				<span class="md-title">하위코드</span>
			</md-card-header-text>
			<md-button class="md-icon-button" ng-click="popupCreateChild($event)">
				<md-tooltip>하위코드 등록</md-tooltip>
				<md-icon>add</md-icon>
			</md-button>
		</md-card-header>
		
		<div ng-cloak="">
			<md-content>
				<md-list>
					<md-list-item ng-repeat="child in childs">
						<p>
							<a href="/configuration/groups/{{child.groupId}}">{{child.groupId}}</a>
						</p>
						<p>
							{{child.name}}
						</p>
						<p>
							{{child.useStatus}}
						</p>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
	</md-card>


</div>