<!DOCTYPE html>

<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/base">

<head>
<title>cinnamon 가입</title>
<link href="/css/cinnamon.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/cinnamon.js"></script>
<script type="text/javascript">
angular.module('cinnamon');
</script>
</head>
<body layout:fragment="body" layout-gt-xs="row" layout-align-gt-xs="center start" class="content">

	<md-content flex-gt-xs="30" class="content">
		
		<form>
			<md-card layout-padding="">
				<md-card-header>
					<md-card-header-text>
						<span class="md-title">welcom to Cinnamon</span>
					</md-card-header-text>
				</md-card-header>
				
				<md-card-content>
				</md-card-content>
				<md-card-actions>
					<md-button type="submit" class="md-raised md-primary">가입</md-button>
					<md-button >취소</md-button>
				</md-card-actions>
			</md-card>
		</form>
		
	</md-content>
</body>
</html>