<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/default">

<head>
<title>사용자</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="/js/configuration/directives/searchList.js"></script>

<script type="text/javascript" src="/js/configuration/users/viewController.js"></script>
<script type="text/javascript" src="/js/configuration/users/listController.js"></script>
<script type="text/javascript" src="/js/configuration/users/createController.js"></script>
<script type="text/javascript" src="/js/configuration/users/modifyController.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
angular.module('cinnamon')
.config(function($stateProvider, $urlRouterProvider) {
	$stateProvider.state('list', {
		url: '/configuration/users',
		templateUrl: '/configuration/partials/users/list',
		controller: 'configuration.users.list'
	}).state('create', {
		url: '/configuration/users/create',
		templateUrl: '/configuration/partials/users/create',
		controller: 'configuration.users.create'
	}).state('view', {
		url: '/configuration/users/:userId',
		templateUrl: '/configuration/partials/users/view',
		controller: 'configuration.users.view'
	}).state('modify', {
		url: '/configuration/users/:userId/modify',
		templateUrl: '/configuration/partials/users/modify',
		controller: 'configuration.users.modify'
	});
	
	//$urlRouterProvider.otherwise('/configuration/users');
});
/*]]>*/
</script>

<base href="/" />
</head>

<body layout:fragment="content">
	<ui-view layout-fill=""/>
</body>
</html>