<!DOCTYPE html>

<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/default">

<head>
<title>개인설정 - 비밀번호</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
/*<![CDATA[*/
angular.module('cinnamon')
.config(function($stateProvider, $urlRouterProvider) {
	$stateProvider.state('list', {
		url: '/settings/password',
		templateUrl: '/settings/partials/password/form',
		controller: 'settings.passwordController'
	});
}).controller('settings.passwordController', function($scope, $http, message, pageMove, $state, $mdDialog) {
	
	$scope.change = function(form, $event) {
		console.log('change');
		
		if (form.$valid == false) {
			message.alert('입력값을 확인하시기 바랍니다.');
			return;
		}
		
		$scope.isProcess = true;
		$http.put('/rest/settings/password/change', $scope.domain)
		.success(function(data) {
			$scope.domain = {};
			message.alert('변경되었습니다.');
			
			//pageMove.location('/profile');
			
			$state.reload();
		}).error(function(data, status) {
			console.log(data);
			console.log(status);
			
			if (status == '400') {
				if (data.violations != null) {
					var message = '';
					
					data.violations.forEach(function(v) {
						message += '<b>' + v.paramName + '</b> :';
						message += v.message + '<br />';
					});
					
					$mdDialog.show(
						$mdDialog.alert()
							.title('입력 오류')
							.targetEvent($event)
							.htmlContent(message)
							.ok('확인'));
				} else if (data.cause == 'incorrectPassword') {
					$mdDialog.show(
						$mdDialog.alert()
							.targetEvent($event)
							.textContent('현재 비밀번호가 일치하지 않습니다.')
							.ok('확인'));
				}
			}
			
		}).finally(function() {
			$scope.isProcess = false;
		});
	}
});
/*]]>*/
</script>

<base href="/" />
</head>

<body layout:fragment="content">
	<md-content class="content-container content" ng-controller="settings.passwordController">
		<h3 layout-padding="" class="md-headline">
			개인설정
			<span class="md-subhead text-muted">비밀번호</span>
		</h3>
		
		<ui-view />
	</md-content>
</body>
</html>