<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/base">

<head>
<title>사용자</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
/*<![CDATA[*/
angular.module('cinnamon')
.config(function($stateProvider, $urlRouterProvider) {

});
/*]]>*/
</script>

<base href="/" />
</head>

<body layout:fragment="body" class="hold-transition register-page">

		<div class="register-box">
			<div class="register-logo">
				<a href=""><b>Admin</b>LTE</a>
			</div>

			<div class="register-box-body">
				<p class="login-box-msg">회원으로 가입해주세요.</p>

				<form action="../../index.html" method="post">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="아이디" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="email" class="form-control" placeholder="Email" />
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" class="form-control" placeholder="비밀번호" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" class="form-control" placeholder="비민번호 확인" />
						<span class="glyphicon glyphicon-log-in form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<div class="checkbox icheck">
								<label>
									<input type="checkbox" icheck="" ng-model="agreeTerms" />
									<a href=""
										ng-bootbox-alert="약관">약관</a>에 동의합니다.
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-xs-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat">가입</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div> -->

				<a href="/login" target="_self" class="text-center">이미 가입되어 있습니다.</a>
			</div>
			<!-- /.form-box -->
		</div>
		<!-- /.register-box -->

</body>
</html>