<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/base">

<head>
<title>사용자</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/css/cinnamon-core.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/webjars/jquery/2.1.4/dist/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.5/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/adminlte/2.3.0/dist/js/app.js"></script>
<script type="text/javascript" src="/js/configuration/initWizard/welcome.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
'use strict';
angular.module('cinnamon')
.config(function($stateProvider) {
	$stateProvider.state('welcome', {
		url: '/configuration/initWizard',
		templateUrl: '/configuration/partials/initWizard/welcome'
	}).state('baseData', {
		url: '/configuration/initWizard/baseData',
		templateUrl: '/configuration/partials/initWizard/baseData'
	});
});
/*]]>*/
</script>
</head>

<body class="skin-blue sidebar-collapse" layout:fragment="body">
	<div class="wrapper">
		<div class="main-header">

			<!-- Logo -->
			<a href="index2.html" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span>
				
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Admin</b>LTE</span>
			</a>
			
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				
			</nav>
		</div>
		
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<!-- <section class="content-header">
				<h1>
					Page Header <small>Optional description</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>
			</section> -->

			<!-- Main content -->
			<section class="content">
				<ui-view />
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

	</div>
</body>
</html>