<!DOCTYPE html>

<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/default">

<head>
<title>개인설정 - 비밀번호</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
/*<![CDATA[*/
angular.module('cinnamon')
.config(function($stateProvider, $urlRouterProvider) {
}).controller('settings.passwordController', function($scope, $http, message, pageMove) {
	
	$scope.change = function(form, $event) {
		if (form.$valid == false) {
			message.alert('입력값을 확인하시기 바랍니다.');
			return;
		}
		
		$scope.isProcess = true;
		$http.put('/rest/settings/password/change', $scope.domain)
		.success(function(data) {
			$scope.domain = {};
			message.alert('변경되었습니다.');
			pageMove.location('/profile');
			
		}).finally(function() {
			$scope.isProcess = false;
		});
	}
});
/*]]>*/
</script>

<base href="/" />
</head>

<body layout:fragment="content">
	<md-content class="content-container content" ng-controller="settings.passwordController">
		<h3 layout-padding="" class="md-headline">
			개인설정
			<span class="md-subhead text-muted">비밀번호</span>
		</h3>
		
		<form name="form" novalidate="novalidate" ng-submit="change(form, $event)">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-title">비밀번호 변경</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-input-container class="md-block">
						<label>현재 비밀번호</label>
						<input type="password" name="currentPassword" ng-model="domain.currentPassword" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.currentPassword.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>새 비밀번호</label>
						<input type="password" name="newPassword" ng-model="domain.newPassword" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.newPassword.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>새 비밀번호 확인</label>
						<input type="password" name="newPasswordConfirm" ng-model="domain.newPasswordConfirm" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.newPasswordConfirm.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
				</md-card-content>
				<md-card-actions layout-align="end" layout="row">
					<md-progress-circular md-mode="indeterminate" ng-show="isProcess"></md-progress-circular>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="isProcess">변경</md-button>
					<!-- <md-button ng-click="">비밀번호를 분실했습니다.</md-button> -->
				</md-card-actions>
				
			</md-card>
		</form>
	</md-content>
</body>
</html>