<!DOCTYPE html>

<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/default">

<head>
<title>개인설정 - 비밀번호</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
/*<![CDATA[*/
angular.module('cinnamon')
.config(function($stateProvider, $urlRouterProvider) {
});
/*]]>*/
</script>

<base href="/" />
</head>

<body layout:fragment="content">
	<md-content class="content-container content">
		<h3 layout-padding="" class="md-headline">
			개인설정
			<span class="md-subhead text-muted">비밀번호</span>
		</h3>
		
		<form name="form" ng-submit="create(form, $event)" novalidate="novalidate">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-title">비밀번호 변경</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-input-container class="md-block">
						<label>현재 비밀번호</label>
						<input name="name" ng-model="domain.name" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.name.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>새 비밀번호</label>
						<input name="name" ng-model="domain.name" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.name.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block">
						<label>새 비밀번호 확인</label>
						<input name="name" ng-model="domain.name" required="required" md-maxlength="50" maxlength="50" />
						<div ng-messages="form.name.$error">
							<div ng-message="required">필수 입력 항목입니다.</div>
						</div>
					</md-input-container>
				</md-card-content>
				<md-card-actions layout="row">
					<md-button class="md-raised md-primary" type="sumbit">변경</md-button>
					<md-button ng-click="">비밀번호를 분실했습니다.</md-button>
				</md-card-actions>
				
			</md-card>
		</form>
		
		<!-- <md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-title">비밀번호 찾기</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p class="alert-info" layout-padding="">이메일로 비밀번호를 다시 설정할 수 있는 링크를 보내드립니다.</p>
			</md-card-content>
		</md-card> -->
	</md-content>
</body>
</html>