<md-content class="content-container content">
	<h3 layout-padding="" class="md-headline">사용자</h3>
	
	<md-card>
		
		<form name="form" ng-submit="create(form, $event)" novalidate="novalidate">
			
			<md-card-content>
				<md-input-container class="md-block">
					<label>userId</label>
					<input name="userId" ng-model="domain.userId" required="required" md-maxlength="20" maxlength="20" minlength="6" />
					<div ng-messages="firstUserform.userId.$submitted">
						<div ng-message="required" ng-show="form.userId.$error.required">필수 입력 항목입니다.</div>
						<div ng-message="required" ng-show="form.userId.$error.minlength">최소 6자리 이상 입력하시기 바랍니다.</div>
					</div>
				</md-input-container>
				<md-input-container layout-fill="">
					<label>이름</label>
					<input ng-model="domain.name" />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>이메일</label>
					<input ng-model="domain.email" />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>비밀번호</label>
					<input ng-model="domain.password" />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>비밀번호 확인</label>
					<input ng-model="domain.password2" />
				</md-input-container>
			</md-card-content>
		</form>
		<md-card-actions>
			<md-button >취소</md-button>
			<md-button class="md-raised md-primary" type="sumbit">생성</md-button>
		</md-card-actions>
			
	</md-card>
</md-content>