<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale" style="position: fixed">
	<md-fab-trigger>
		<md-button class="md-fab md-accent">
			<md-tooltip md-direction="left">사용자 생성</md-tooltip>
			<md-icon>person_add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>


<md-content class="container content">
	<h3>사용자</h3>
	
	<md-card md-whiteframe="4">
		<md-card-header layout="row">
			<md-input-container md-no-float="true" flex="" layout-fill="">
				<md-icon>search</md-icon>
				<input placeholder="검색어를 입력하세요" />
			</md-input-container>
			<md-button class="md-icon-button" layout-margin="" ng-click="showDetailSearch = !showDetailSearch">
				<md-tooltip md-direction="top">상세 검색</md-tooltip>
				<md-icon>expand_more</md-icon>
			</md-button>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-tooltip md-direction="top">정렬</md-tooltip>
					<md-icon>sort</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button layout="row">
							이름
							<md-icon>check</md-icon>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							이메일
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>
							userId
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-card-header>
		
		<div ng-if="showDetailSearch">
			<md-divider></md-divider>
			<md-card-content class="content" layout="column">
				<md-input-container layout-fill="">
					<label>이름</label>
					<input />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>userId</label>
					<input />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>이메일</label>
					<input />
				</md-input-container>
			</md-card-content>
			<md-divider></md-divider>
		</div>
		
		
		<md-list layout-fill="">
			<md-divider></md-divider>
			<md-list-item ng-repeat="domain in domains.content" ng-click="goView(domain)" layout="row">
				<b flex="30">{{domain.name}}</b>
				<span flex="30" class="text-muted">{{domain.email}}</span>
				<span class="text-muted">{{domain.tel}}</span>
				<!-- <div layout="column" class="md-list-item-text">
					<b>{{domain.name}}</b>
					<small class="text-muted">{{domain.email}}</small>
				</div> -->
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</md-card>
	
</md-content>