<md-content>
	<md-card layout-fill="">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{domain.name}}</span>
				<span class="md-subhead">{{domain.job}}</span>
			</md-card-title-text>
		</md-card-title>
		
	</md-card>
	
	
	<md-fab-speed-dial md-open="fabOpen" class="md-fab-top-right md-scale">
		<md-fab-trigger>
			<md-button class="md-fab md-accent">
				<md-icon>edit</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button class="md-fab md-accent md-raised md-mini" ng-click="selectUserGroup($event)">
				<md-tooltip md-direction="left">사용자 모임 등록</md-tooltip>
				<md-icon>group</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
	
	
	
	<!-- <md-tabs md-dynamic-height="true">
		<md-tab label="개요"> -->
			<md-card>
				<md-card-header>
					<md-card-header-text layout="row">
						<span class="md-title">개인정보</span>
					</md-card-header-text>
				</md-card-header>
				
				<md-content layout-padding="">
					<table class="table table-hover">
						<tr>
							<th>이름</th>
							<td>{{domain.name}}</td>
						</tr>
						<tr>
							<th>이메일</th>
							<td>{{domain.email}}</td>
						</tr>
						<tr>
							<th>거주지</th>
							<td>{{domain.location}}</td>
						</tr>
						<tr>
							<th>직업</th>
							<td>{{domain.job}}</td>
						</tr>
						<tr>
							<th>전화</th>
							<td>{{domain.tel}}</td>
						</tr>
						<tr>
							<th>핸드폰</th>
							<td>{{domain.phone}}</td>
						</tr>
					</table>
				</md-content>
				
				
				<!-- <md-list layout-padding="">
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">이름</span>
							<p class="md-subhead">{{domain.name}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">userId</span>
							<p class="md-subhead">{{domain.userId}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">이메일</span>
							<p class="md-subhead">{{domain.email}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">거주지</span>
							<p class="md-subhead">{{domain.location}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">직업</span>
							<p class="md-subhead">{{domain.job}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">연락처</span>
							<p class="md-subhead">{{domain.tel}}</p>
						</div>
					</md-list-item>
					<md-list-item>
						<div class="md-list-item-text" layout="column">
							<span class="md-title">핸드폰</span>
							<p class="md-subhead">{{domain.phone}}</p>
						</div>
					</md-list-item>
				</md-list> -->
			</md-card>
		<!-- </md-tab>
		<md-tab label="사용자 모임">
		</md-tab>
	</md-tabs> -->
		
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">사용자 모임</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
	
</md-content>