<md-fab-speed-dial md-open="fabOpen" md-direction="up" class="md-fab-bottom-right md-scale"  style="position: fixed">
	<md-fab-trigger>
		<md-button class="md-fab md-accent">
			<md-icon>add</md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<md-button class="md-fab md-accent md-raised md-mini" ng-click="openCreateMenu()">
			<md-tooltip md-direction="left">메뉴 생성</md-tooltip>
			<md-icon>menu</md-icon>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>

<md-content class="content-container content">
	<h3 layout-padding="" class="md-headline">
		사이트 및 메뉴
		<span class="md-subhead text-muted">메뉴 모음 정보</span>
	</h3>
	
	<md-card>
		<md-card-header layout-align="none center">
			<md-card-header-text layout-align="center">
				<span class="md-title">기본정보</span>
			</md-card-header-text>
			<md-button class="md-icon-button" ui-sref="modify({menuGroupId: domain.menuGroupId})">
				<md-tooltip>기본 정보 수정</md-tooltip>
				<md-icon>edit</md-icon>
			</md-button>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button ng-click="delete($event)">
							<md-icon>remove_circle</md-icon>
							삭제
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-card-header>
		
		<md-card-content>
			<table class="table table-hover">
				<tr>
					<th>menuGroupId</th>
					<td class="text-muted">{{domain.menuGroupId}}</td>
				</tr>
				<tr>
					<th>이름</th>
					<td class="text-muted">{{domain.name}}</td>
				</tr>
				<tr>
					<th>dimension</th>
					<td><b>{{domain.dimension}}</b></td>
				</tr>
				<tr>
					<th>기본 페이지</th>
					<td class="text-muted">{{domain.defaultPage}}</td>
				</tr>
				<tr>
					<th>사이트</th>
					<td class="text-muted">
						<a ng-href="/configuration/sites/{{domain.site.siteId}}" target="_self">{{domain.site.name}}</a>
						<md-button class="md-raised md-primary" ng-click="openSiteList()">사이트 선택</md-button>
					</td>
				</tr>
				<!-- <tr>
					<th>생성일</th>
					<td class="text-muted">
						<small>{{domain.createdAt | date: 'yyyy년 MM월 dd일 HH:mm:ss'}}</small>
					</td>
				</tr> -->
				<tr>
					<th>설명</th>
					<td class="text-muted">{{domain.description}}</td>
				</tr>
			</table>
		</md-card-content>
		
	</md-card>
	
	<md-card>
		<md-card-header layout-align="none center">
			<md-card-header-text>
				<span class="md-title">메뉴</span>
			</md-card-header-text>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button ng-click="editMenus(true)">
							<md-icon>edit</md-icon>
							편집
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-card-header>
		
		<md-button class="md-raised md-accent" ng-if="isEditMenus" ng-click="editMenus(false)">편집 취소</md-button>
		
		<md-tabs md-dynamic-height="true">
			<md-tab label="사이드바">
				<cm-search-list
					resource-url="/rest/configuration/menus"
					domains="sidebarMenus"
					is-paging="false"
					default-search-params="{menuGroupId: menuGroupId, position: 'sidebar'}">
					
					<cm-search-list-filters>
						<md-card-content class="content" layout="column">
							<md-input-container>
								<label>menuId</label>
								<input name="menuId" />
							</md-input-container>
							<md-input-container>
								<label>이름</label>
								<input name="name" />
							</md-input-container>
							<md-input-container>
								<label>경로</label>
								<input name="uri" />
							</md-input-container>
						</md-card-content>
					</cm-search-list-filters>
					<cm-search-list-items>
					<md-list-item ng-repeat="menu in sidebarMenus.content" ng-click="goMenuView(menu)" layout="row">
						<md-button class="md-icon-button md-warn" ng-if="isEditMenus" ng-click="deleteMenu(menu)">
							<md-tooltip md-direction="top">메뉴 삭제</md-tooltip>
							<md-icon>remove_circle</md-icon>
						</md-button>
						<span flex="10" class="text-muted">{{menu.menuId}}</span>
						<b flex="30">
							<md-icon>{{menu.iconClass}}</md-icon>{{menu.name}}</b>
						<span flex="30" class="text-muted">{{menu.uri}}</span>
						<span flex="30" class="text-muted" hide-xs="">{{menu.type}}</span>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					</cm-search-list-items>
				</cm-search-list>
			</md-tab>
			<md-tab label="해더 왼쪽">
				<cm-search-list
					resource-url="/rest/configuration/menus"
					domains="headerLeftMenus"
					is-paging="false"
					default-search-params="{menuGroupId: menuGroupId, position: 'headerLeft'}">
					
					<cm-search-list-filters>
						<md-card-content class="content" layout="column">
							<md-input-container>
								<label>menuId</label>
								<input name="menuId" />
							</md-input-container>
							<md-input-container>
								<label>이름</label>
								<input name="name" />
							</md-input-container>
							<md-input-container>
								<label>경로</label>
								<input name="uri" />
							</md-input-container>
						</md-card-content>
					</cm-search-list-filters>
					<cm-search-list-items>
					<md-list-item ng-repeat="menu in headerLeftMenus.content" ng-click="goMenuView(menu)" layout="row">
						<md-button class="md-icon-button md-warn" ng-if="isEditMenus" ng-click="deleteMenu(menu)">
							<md-tooltip md-direction="top">메뉴 삭제</md-tooltip>
							<md-icon>remove_circle</md-icon>
						</md-button>
						<span flex="10" class="text-muted">{{menu.menuId}}</span>
						<b flex="30">
							<md-icon>{{menu.iconClass}}</md-icon>{{domain.name}}</b>
						<span flex="30" class="text-muted">{{menu.uri}}</span>
						<span flex="30" class="text-muted" hide-xs="">{{menu.type}}</span>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					</cm-search-list-items>
				</cm-search-list>
			</md-tab>
			<md-tab label="해더 오른쪽">
				<cm-search-list
					resource-url="/rest/configuration/menus"
					domains="headerRightMenus"
					is-paging="false"
					default-search-params="{menuGroupId: menuGroupId, position: 'headerRight'}">
					
					<cm-search-list-filters>
						<md-card-content class="content" layout="column">
							<md-input-container>
								<label>menuId</label>
								<input name="menuId" />
							</md-input-container>
							<md-input-container>
								<label>이름</label>
								<input name="name" />
							</md-input-container>
							<md-input-container>
								<label>경로</label>
								<input name="uri" />
							</md-input-container>
						</md-card-content>
					</cm-search-list-filters>
					<cm-search-list-items>
					<md-list-item ng-repeat="menu in headerRightMenus.content" ng-click="goMenuView(menu)" layout="row">
						<md-button class="md-icon-button md-warn" ng-if="isEditMenus" ng-click="deleteMenu(menu)">
							<md-tooltip md-direction="top">메뉴 삭제</md-tooltip>
							<md-icon>remove_circle</md-icon>
						</md-button>
						<span flex="10" class="text-muted">{{menu.menuId}}</span>
						<b flex="30">
							<md-icon>{{menu.iconClass}}</md-icon> {{menu.name}}</b>
						<span flex="30" class="text-muted">{{menu.uri}}</span>
						<span flex="30" class="text-muted" hide-xs="">{{menu.type}}</span>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					</cm-search-list-items>
				</cm-search-list>
			</md-tab>
		</md-tabs>
		
		
	</md-card>
</md-content>