<!DOCTYPE html>

<html
	ng-app="cinnamon.initWizard"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/base">

<head>
<title>cinnamon 초기화</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/cinnamon.css" />
<link rel="stylesheet" type="text/css" href="/webjars/material-steppers/1.0.3/dist/material-steppers.min.css" />

<script type="text/javascript" src="/webjars/material-steppers/1.0.3/dist/material-steppers.min.js"></script>

<script type="text/javascript" src="/js/cinnamon.js"></script>
<script type="text/javascript" src="/js/core/components/cmWizard.js"></script>
<script type="text/javascript" src="/js/core/controllers/initWizard/wellcome.js"></script>
<script type="text/javascript" src="/js/core/controllers/initWizard/database.js"></script>
<script type="text/javascript" src="/js/core/controllers/initWizard/baseData.js"></script>
<script type="text/javascript" src="/js/core/controllers/initWizard/firstuser.js"></script>
<script type="text/javascript">
angular.module('cinnamon.initWizard', ['cinnamon', 'mdSteppers']);
</script>
<base href="/" />
</head>

<!-- style="background-color: #ecf0f5" -->
<body layout:fragment="body" class="content" layout="column">
	<md-toolbar md-whiteframe="2">
		<div class="md-toolbar-tools">
			<h3>Cinnamon 시스템 초기화</h3>
		</div>
	</md-toolbar>
	
	<div class="content-container">
		<cm-wizard info-uri="/rest/configuration/initWizard" />
	</div>
</body>
</html>