<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale" style="position: fixed">
	<md-fab-trigger>
		<md-button class="md-fab" ui-sref="create">
			<md-tooltip md-direction="left">사용자 생성</md-tooltip>
			<md-icon>person_add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>


<div class="content-container">
	<h3 layout-padding="" class="md-headline">사용자</h3>
	
	
	<cm-list
		resource-url="/rest/configuration/users"
		row-info="{
			'table-row-id-key': 'userId',
			'column-keys': ['avatar', 'userId', 'name', 'birthday', 'email', 'tel']
		}">
		
		<cm-list-filters>
			<div layout="column">
				<md-input-container>
					<label>이름</label>
					<input ng-model="searchInfo.name" />
				</md-input-container>
				<md-input-container>
					<label>userId</label>
					<input ng-model="searchInfo.userId" />
				</md-input-container>
				<md-input-container>
					<label>이메일</label>
					<input ng-model="searchInfo.email" />
				</md-input-container>
			</div>
		</cm-list-filters>
		
		<cm-list-items>
			<mdt-header-row>
				<mdt-column>avatar</mdt-column>
				<mdt-column column-sort="true">userId</mdt-column>
				<mdt-column column-sort="true">이름</mdt-column>
				<mdt-column>생일</mdt-column>
				<mdt-column>이메일</mdt-column>
				<mdt-column>연락처</mdt-column>
			</mdt-header-row>
			
			<mdt-custom-cell column-key="avatar">
				<md-icon>account_circle</md-icon>
			</mdt-custom-cell>
			<mdt-custom-cell column-key="userId">
				<a ui-sref="view({userId:value})">{{value}}</a>
			</mdt-custom-cell>
		</cm-list-items>
	</cm-list>
	
	<!-- <md-card md-whiteframe="4">
		
		<cm-search-list
			resource-url="/rest/configuration/users"
			domains="domains"
			search-info="searchInfo"
			sort-items="{
				userId: 'userId',
				name: '이름',
				email: '이메일',
				createdAt : '생성일'
			}"
			default-sorts="'createdAt,desc'"
			>
			
			<cm-search-list-filters>
				<md-card-content class="content" layout="column">
					<md-input-container>
						<label>이름</label>
						<input ng-model="searchInfo.name" />
					</md-input-container>
					<md-input-container>
						<label>userId</label>
						<input ng-model="searchInfo.userId" />
					</md-input-container>
					<md-input-container>
						<label>이메일</label>
						<input ng-model="searchInfo.email" />
					</md-input-container>
				</md-card-content>
			</cm-search-list-filters>
			<cm-search-list-items>
				<md-list-item ng-repeat="domain in domains.content" ng-click="goView(domain)" layout="row">
					<div flex="5">
						<md-icon>account_circle</md-icon>
					</div>
					<p>{{domain.userId}}</p>
					<p>{{domain.name}}</p>
					<p>{{domain.birthday}}</p>
					<p>{{domain.email}}</p>
					<p>{{domain.tel}}</p>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</cm-search-list-items>
		</cm-search-list>
		
	</md-card> -->
	
</div>