<md-content class="content-container content">
	<h3 layout-padding="" class="md-headline">
		사이트
		<span class="md-subhead text-muted">등록</span>
	</h3>
	<form name="frm" novalidte="novalidte">
		
		<md-card>
			<!-- <md-card-header>
				<md-card-header-text>
					<span class="md-title">사이트 정보 입력</span>
				</md-card-header-text>
			</md-card-header> -->
			
			<md-content layout-padding="">
				<md-input-container class="md-block">
					<label>siteId</label>
						<input required="required" name="siteId" ng-model="site.siteId" md-maxlength="200" maxlength="200" />
						<div ng-messages="frm.siteId.$error ">
							<div ng-message="required">siteId을 입력하세요.</div>
						</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>이름</label>
						<input name="name" ng-model="site.name" md-maxlength="200" maxlength="200" />
						<div ng-messages="frm.url.$error ">
							<div ng-message="required">이름을 입력하세요.</div>
						</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>URL</label>
						<input name="url" ng-model="site.url" md-maxlength="200" maxlength="200" />
						<div ng-messages="frm.url.$error ">
							<div ng-message="required">url을 입력하세요.</div>
						</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>설명</label>
						<textarea name="description" ng-model="site.description" rows="5" md-maxlength="2000" maxlength="2000"></textarea>
						<div ng-messages="frm.description.$error ">
							<div ng-message="required">내용을 입력하세요.</div>
						</div>
				</md-input-container>
			</md-content>
			
			<md-card-actions layout="row" layout-align="end">
				<md-progress-circular md-mode="indeterminate" ng-show="isProcess"></md-progress-circular>
				<md-button class="md-raised md-primary" ng-click="create($event)" ng-disabled="isProcess">생성</md-button>
				<md-button ng-click="goBack()">취소</md-button>
			</md-card-actions>
		</md-card>
	</form>
</md-content>