<aside>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<span>사용자 모임</span> <small>설정</small>
			<button class="btn btn-primary btn-sm">
				<i class="fa fa-user"></i> 사용자 추가
			</button>
		</h1>
	</section>
	
	<!-- Main content -->
	<section class="content">
		
		<div class="row">
			<div class="col-md-3">
				
				<div class="box box-solid">
					<div class="box-body box-profile">
						
						<!-- <img class="profile-user-img img-responsive img-circle" src="/webjars/adminlte/2.3.2/dist/img/user2-160x160.jpg" alt="User profile picture" /> -->
						
						<h3 class="profile-username text-center">{{domain.userGroupId}}.{{domain.name}}</h3>
						
						<!-- <ul class="list-group list-group-unbordered">
							<li class="list-group-item"><b>{{domain.email}}</b></li>
							<li class="list-group-item"><b>{{domain.createdAt}}</b></li>
							<li class="list-group-item"><b>{{domain.nation}}</b></li>
						</ul> -->
						
						<hr />
						<strong><i class="fa fa-shield margin-r-5"></i> authority</strong>
						<p class="text-muted">{{domain.authority.name}}</p>
						
						<hr />
						<strong><i class="fa fa-map-marker margin-r-5"></i> 설명</strong>
						<p class="text-muted">{{domain.description}}</p>
					</div>
				</div>
				
			</div>
			<div class="col-md-9">
				<uib-tabset class="nav-tabs-custom">
					<uib-tab>
						<uib-tab-heading>
							<i class="fa fa-user"></i> 사용자
						</uib-tab-heading>
						
					</uib-tab>
				</uib-tabset>
			</div>
		</div>

	</section>
	<!-- /.content -->
</aside>