<!DOCTYPE html>
<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/base">

<head>
<link href="/css/cinnamon.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/configuration/layout/layout.js"></script>


</head>
<body layout:fragment="body">
<div ng-controller="layoutController" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button">
				<i class="fa fa-bars"></i>
			</md-button>
			<h2>Web console</h2>
			<span flex=""></span>
			<md-button class="md-icon-button">
				<md-icon>person</md-icon>
			</md-button>
			<md-button class="md-icon-button">
				<md-icon>more_vert</md-icon>
			</md-button>
		</div>
		
	</md-toolbar>
	<div flex="" layout="row">
		<md-sidenav class="md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-sm')">
			<md-toolbar>
				<div class="md-toolbar-tools">
				</div>
			</md-toolbar>
			
			<md-list>
				
				<md-list-item ng-repeat="menu in currentMenus.sidebar" ng-click="selectMenu(menu)">
					{{menu.name}}
					
				</md-list-item>
				<!-- <md-list ng-if="menu.childs != 0">
					<md-list-item ng-repeat="childMenu in menu.childs" ng-click="selectMenu(childMenu)">
						{{childMenu.name}}
					</md-list-item>
				</md-list> -->
				
			</md-list>
			
		</md-sidenav>
		<div layout:fragment="content"></div>
	</div>
</div>
</body>
</html>