<!DOCTYPE html>
<html
	ng-app="cinnamon"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/base">

<head>
<link href="/css/cinnamon.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/configuration/layout/layout.js"></script>


</head>
<body layout:fragment="body" class="content" layout="column" ng-controller="layoutController">
	<md-toolbar md-whiteframe="5">
		<div class="md-toolbar-tools" layout-fill="">
			<md-button class="md-icon-button" ng-click="toggleSidenav()" ng-show="showMenuButton()">
				<md-icon>menu</md-icon>
			</md-button>
			<h2>Web console</h2>
			<span flex=""></span>
			
			<md-button class="md-icon-button">
				<md-icon>notifications_none</md-icon>
			</md-button>
			
			<md-menu ng-if="!$mdMedia('gt-md')">
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>person</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button>프로필</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-href="/configuration/settings" target="_self">개인 설정</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button>로그아웃</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button>설정</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		
	</md-toolbar>
	<md-content layout="row" flex="" class="content">
	<!-- style="background: transparent" -->
	<!-- md-is-locked-open="$mdMedia('gt-lg')" -->
		<md-sidenav md-component-id="leftSidenav" md-is-locked-open="$mdMedia('gt-sm')" style="width: 230px" ng-style="sidenavStyle">
			<md-toolbar ng-hide="isHideSidebarToolbar">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="closeSidenav()">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-list>
				<md-list-item ng-repeat="menu in currentMenus.sidebar" ng-click="selectMenu(menu)">
					
					{{menu.name}}
				</md-list-item>
				<md-list ng-if="menu.childs != 0">
					<md-list-item ng-repeat="childMenu in menu.childs" ng-click="selectMenu(childMenu)">
						{{childMenu.name}}
					</md-list-item>
				</md-list>
				
			</md-list>
			
		</md-sidenav>
		<div flex="">
			<div layout:fragment="content"></div>
		</div>
	</md-content>
</body>
</html>