<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="configuration/layout/base">

<head>
<link href="/css/cinnamon.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="/js/cinnamon.js"></script>
<script type="text/javascript" src="/js/configuration/layout/layout.js"></script>


</head>
<body layout:fragment="body" class="content" layout="column" ng-controller="layoutController">
	<md-toolbar md-whiteframe="5" layout-align="center center">
		<div class="md-toolbar-tools" layout-fill="">
			<md-button class="md-icon-button" ng-click="toggleSidenav()" ng-show="isMobile()">
				<md-icon>menu</md-icon>
			</md-button>
			<h2>
				<a href="/" target="_self">Cinnamon</a>
			</h2>
			<!-- <md-button class="md-raised md-accent">스마트랩</md-button> -->
			<!-- <md-menu>
				<md-button class="md-raised" ng-click="$mdOpenMenu($event)">
					프로젝트
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button>스마트랩</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu> -->
			
			<md-button class="md-raised" ng-repeat="menu in currentMenus.headerLeft" ng-href="{{menu.uri}}" target="_self">
				{{menu.name}}
			</md-button>
			
			
			<span flex=""></span>
			
			<!-- <md-button class="md-icon-button">
				<md-icon>notifications_none</md-icon>
			</md-button> -->
			
			{{me.name}}
			
			<md-menu ng-show="!isMobile()">
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>person</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button>프로필</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-href="/settings" target="_self">개인 설정</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-href="/logout" target="_self">로그아웃</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon>more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-menu-item>
						<md-button ng-href="/configuration" target="_self">설정</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		
		<div class="md-primary md-hue-1"  layout-fill="">
			<md-tabs class="md-primary md-hue-1" md-center-tabs="true">
				<md-tab label="Tab #1"></md-tab>
				<md-tab label="Tab #2"></md-tab>
				<md-tab label="Tab #3"></md-tab>
			</md-tabs>
		</div>
		
	</md-toolbar>
	
	<md-sidenav md-component-id="leftSidenav">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="closeSidenav()">
					<md-icon>arrow_back</md-icon>
				</md-button>
				<h2>Cinnamon</h2>
			</div>
		</md-toolbar>
		
		<!-- <md-menu>
			<md-button ng-click="$mdOpenMenu($event)">
				<md-icon>person</md-icon>
				{{me.name}}
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button>프로필</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-href="/settings" target="_self">개인 설정</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-href="/logout" target="_self">로그아웃</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu> -->
		
		<md-content>
			<md-subheader>{{currentMenus.name}}</md-subheader>
			<md-list>
				<md-list-item ng-repeat="menu in currentMenus.sidebar" ng-click="selectMenu(menu)">
					<div flex="15">
						<md-icon>{{menu.iconClass}}</md-icon>
					</div>
					{{menu.name}}
				</md-list-item>
				<md-list ng-if="menu.childs != 0">
					<md-list-item ng-repeat="childMenu in menu.childs" ng-click="selectMenu(childMenu)">
						{{childMenu.name}}
					</md-list-item>
				</md-list>
			</md-list>
		</md-content>
		
	</md-sidenav>
	
	
	
	
	
	
	
	<md-content layout="row" flex="" class="content">
	<!-- style="background: transparent" -->
	<!-- md-is-locked-open="$mdMedia('gt-lg')" -->
		<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" style="width: 230px;background: transparent">
			<md-list>
				<md-subheader class="content md-no-sticky">{{currentMenus.name}}</md-subheader>
				<md-list-item ng-repeat="menu in currentMenus.sidebar" ng-click="selectMenu(menu)">
					<div flex="15">
						<md-icon>{{menu.iconClass}}</md-icon>
					</div>
					{{menu.name}}
				</md-list-item>
				<md-list ng-if="menu.childs != 0">
					<md-list-item ng-repeat="childMenu in menu.childs" ng-click="selectMenu(childMenu)">
						{{childMenu.name}}
					</md-list-item>
				</md-list>
				
			</md-list>
			
		</md-sidenav>
		<div flex="">
			<div layout:fragment="content"></div>
		</div>
	</md-content>
</body>
</html>