<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale">
	<md-fab-trigger>
		<md-button class="md-fab md-accent">
			<md-tooltip md-direction="left">사용자 모임 생성</md-tooltip>
			<md-icon>group_add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>


<md-content class="content-container content">
	<h3 layout-padding="" class="md-headline">사용자 모임</h3>
	
	<cm-search-list
		resource-url="'/rest/configuration/userGroups'"
		on-select="goView(domain)">
		
		{{domain}}
		<div flex="5">
			<md-icon>group</md-icon>
		</div>
		<b flex="30">{{domain.name}}</b>
		<span flex="30" class="text-muted">{{domain.authority.name}}</span>
		<span class="text-muted">{{domain.createdAt}}</span>
	</cm-search-list>
	
</md-content>