<md-fab-speed-dial md-open="fabOpen" class="md-fab-bottom-right md-scale">
	<md-fab-trigger>
		<md-button class="md-fab md-accent">
			<md-tooltip md-direction="left">사용자 모임 생성</md-tooltip>
			<md-icon>group_add</md-icon>
		</md-button>
	</md-fab-trigger>
</md-fab-speed-dial>


<div class="content-container content">
	<h3 layout-padding="" class="md-headline">사용자 모임</h3>
	
	<md-card md-whiteframe="3">
		<cm-search-list
			resource-url="'/rest/configuration/userGroups'"
			domains="domains">
			
			<cm-search-list-filters>
				<md-card-content class="content" layout="column">
					<md-input-container layout-fill="">
						<label>이름</label>
						<input />
					</md-input-container>
					<md-input-container layout-fill="">
						<label>userId</label>
						<input />
					</md-input-container>
					<md-input-container layout-fill="">
						<label>이메일</label>
						<input />
					</md-input-container>
				</md-card-content>
			</cm-search-list-filters>
			<cm-search-list-items>
				<md-list-item ng-repeat="domain in domains.content" ng-click="goView(domain)">
					
					<div flex="5">
						<md-icon>group</md-icon>
					</div>
					<b flex="50">{{domain.name}}</b>
					<span flex="45" class="text-muted">{{domain.authority.name}}</span>
					
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</cm-search-list-items>
		</cm-search-list>
	</md-card>
	
</div>