<md-dialog ng-clock="" flex="70">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-title">사용자 모임 선택</h2>
			<span flex=""></span>
			<md-button class="md-icon-button" ng-click="close()">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	
	<cm-search-list
		resource-url="'/rest/configuration/userGroups'"
		domains="domains">
		
		<cm-search-list-filters>
			<md-dialog-content class="content md-dialog-content" layout="column">
				<md-input-container layout-fill="">
					<label>이름</label>
					<input />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>userId</label>
					<input />
				</md-input-container>
				<md-input-container layout-fill="">
					<label>이메일</label>
					<input />
				</md-input-container>
			</md-dialog-content>
		</cm-search-list-filters>
		<cm-search-list-items>
			<md-list-item ng-repeat="domain in domains.content" ng-click="onSelect(domain)">
				
				<div flex="5">
					<md-icon>group</md-icon>
				</div>
				<b flex="50">{{domain.name}}</b>
				<span flex="45" class="text-muted">{{domain.authority.name}}</span>
				
				<md-divider></md-divider>
			</md-list-item>
		</cm-search-list-items>
	</cm-search-list>
	
	<md-dialog-actions>
		<md-button class="md-primary md-ink-ripple" ng-click="close()">닫기</md-button>
	</md-dialog-actions>
</md-dialog>