<div class="box box-solid" ng-controller="baseDataController">
	<div class="box-body">
		
		<div class="wizard">
			<ul class="steps">
				<li>
					<span class="badge batge-info">1</span> <span>초기화 시작</span>
					<span class="chevron"></span>
				</li>
				<li class="active">
					<span class="badge batge-info">2</span> <span>기본 데이터 생성</span>
					<span class="chevron"></span>
				</li>
				<li>
					<span class="badge batge-info">3</span> <span>최초사용자 생성</span>
					<span class="chevron"></span>
				</li>
			</ul>
		</div>
		
		<!-- <div class="step-content" style="min-height: 300px" layout:fragment="wizardStep">
		</div>
		 -->
		<div class="step-content step-pane active">
			
			<div class="callout callout-info">
				시스템 구동에 필요한 기본 데이터를 생성합니다.
			</div>
			<div class="form-group">
				<button id="createBaseDataButton" class="btn btn-primary" data-loading-text="생성중..." ng-click="createBaseData()">
					<i class="fa fa-database"></i> 기본 데이터 생성
				</button>
			</div>
			
		</div>
		
	</div>
</div>